
<div class="outer-create-container">
    <br>
   <!--- <mat-card> -->
     <div class="inner-create-container"> 
      <section class="mat-typography">
     <div style="display: flex; justify-content: center;"> <h2 style="color: #000000">Create an account</h2> </div>
      </section>
      
      <br>

      <div class="outer-form-wrapper"> 
        <div class="form-wrapper"> 
      <form [formGroup]="registerUser" class="create-form">
      
        <div class="field-container"> 
          <label class="label-name">Email</label>
        <input class="input" placeholder="Email" formControlName="email" #email>
        </div>

        <div class="field-container"> 
            <label class="label-name"> First Name </label>
          <input class="input"  placeholder="First name" formControlName="FirstName" #FirstName>
          </div>   

          <div class="field-container"> 
            <label class="label-name"> Last Name </label>
          <input class="input" placeholder="Last Name" formControlName="LastName" #LastName>
          </div>   


          <div class="field-container"> 
            <label class="label-name"> Password </label>
          <input class="input" placeholder="password" placeholder="password" required 
          formControlName="password" #password>
          </div>    
          
          <div class="field-container"> 
            <label class="label-name"> Confirm Password </label>
          <input class="input" placeholder="Confirm Password" formControlName="ConfirmPassword" #ConfirmPassword required>
          </div>    

        
        <br><br>
        
        <button class="button" type="submit" routerLink="/login" (click)="addUser()" [disabled]="registerUser.pristine || registerUser.invalid" mat-raised-button color="primary">Submit</button>
        
      </form> 

      <!--(click)="addUser(name.value, password.value, platform.value)"-->

    </div> <!--End of form wrapper-->
      </div> <!--End of outer form wrapper -->




    </div> <!--End of inner container -->



  </div>