<div class="outer-create-container">
    <br>
   
     <div class="inner-create-container"> 
      <section class="mat-typography">
     <div style="display: flex; justify-content: center;"> <h2 style="color: #111111">Login</h2> </div>
      </section>
    
      
      <br>
     <div class="outer-form-wrapper" style="display: flex; justify-content: center;"> 
      <div class="form-wrapper"> 

      <form (keydown.enter)="$event.preventDefault()" [formGroup]="loginUser" class="create-form" (ngSubmit)="login()">

     

        <div class="login-form-container"> 
        <p *ngIf="buttonClicked && isLoggedIn() == false"> Loading.. </p> 
        <p *ngIf="showError">Incorrect username or password</p> 
  
        <div class="field-container"> 
          <label class="label-name">Email</label>
          <input class="input" placeholder="email" formControlName="email" #email>

        </div>
  
      
          <div class="field-container"> 
            <label class="label-name"> Password </label>
          <input type="password" class="input" style="padding: 3px 4px" placeholder="password" required 
          formControlName="password" #password>
          </div>   
  
  
        </div>
  
        <br><br>
      
  
        <button class="buttons" style="background-color:#ed9121; color:000; width: 100%" type="submit"(click)="login()"[disabled]="!loginUser.valid" mat-raised-button color="primary">Submit</button>
      </form>
  
   
  
      <div class="register-wrapper"> 
      <div>
        <p class="register-now">Don't have an account? Register now!</p>
      </div>
  
      <div class="register">
  
        <button class="buttons" style="background-color:#ed9121
        ; color:000; width:100%;" routerLink="/register" mat-raised-button color="primary" [routerLink]="['/Register']" >Register</button>
  
      </div>
      </div>
  
  
    </div>
  </div>
  
  
    </div> <!--End of inner container -->
  
 

  
  </div>